$Font = merge({
  size: {
    body: 1ty
  }

  height: {
    body: 1.6
  }

  // Tahyons traking
  // http://tachyons.io/docs/typography/tracking/
  space: {
    tight: -.05em
    small: .1em
    mega:  .25em
  }
}, $Font)
